@model (BidModel, UserModel)

<section class="section">
    <h1 class="section__title">Обращение №@Model.Item1?.Id</h1>
    <div class="section__row section__row--reverse">
        <div class="sidebar">
            <div class="sidebar__box">
                <div class="request">
                    <div class="request__wrap">
                        <div class="request__title"><span>№ @Model.Item1?.Id</span> @Model.Item1?.Name</div>
                        <div class="request__list">
                            <div class="request__info">
                                <span class="request__name">Организация:</span>
                                <span class="request__text">@Model.Item1?.Department</span>
                            </div>
                            <div class="request__info">
                                <span class="request__name">Услуга:</span>
                                <span class="request__text">@Model.Item1?.Service</span>
                            </div>
                            <div class="request__info">
                                <span class="request__name">ФИО: @Model.Item1?.User?.Surname @Model.Item1?.User?.Name</span>
                            </div>
                            @if (Model.Item1?.TicketStatus == 3)
                            {
                                <div class="request__info">
                                    <span class="request__name">Заявка доступна Газпрому</span>
                                </div>
                            }
                            <form method="POST" id="changeTicketStatusForm" class="form-status-ticket">
                                @Html.AntiForgeryToken()
                                <div class="request__status select-block block">
                                    <div class="select-block__title">
                                        @switch (Model.Item1?.TicketStatus)
                                        {
                                            case 1:
                                                <span>На согласовании</span>
                                                break;
                                            case 2:
                                                <span>Закрыто</span>
                                                break;
                                            case 3:
                                                <span>В работе</span>
                                                break;
                                            case 6:
                                                <span>Замечания</span>
                                                break;
                                            case 0:
                                                <span>В ожидании</span>
                                                break;
                                            case 4:
                                                <span>Фактическое подключение</span>
                                                break;
                                            case 5:
                                                <span>Аннулирована</span>
                                                break;
                                            case 7:
                                                <span>Счет на оплате</span>
                                                break;
                                            case 8:
                                                <span>Выполнение ТУ заявителем</span>
                                                break;
                                            case 9:
                                                <span>Выполнение ТУ сетевой организацией</span>
                                                break;
                                            default:
                                                <span>Неизвестный статус</span>
                                                break;
                                        }
                                    </div>
                                    <ul class="select-block__list scrollbar">
                                        <li class="status-check"><a data-status="1" href="#">На согласовании</a></li>
                                        <li class="status-check"><a data-status="3" href="#">В работе</a></li>
                                        <li class="status-check"><a data-status="6" href="#">Замечания</a></li>
                                        <li class="status-check"><a data-status="7" href="#">Cчет на оплате</a></li>
                                        <li class="status-check"><a data-status="8" href="#">Выполнение ТУ заявителем</a></li>
                                        <li class="status-check"><a data-status="9" href="#">Выполнение ТУ сетевой организацией</a></li>
                                        <li class="status-check"><a data-status="4" href="#">Фактическое подключение</a></li>
                                        <li class="status-check"><a data-status="2" href="#">Закрыто</a></li>
                                        <li class="status-check"><a data-status="5" href="#">Аннулирована</a></li>
                                    </ul>
                                    <input type="hidden" class="input-status" name="ticketStatus" value="">
                                </div>
                            </form>
                            <div class="request__btn">
                                <a href="@Model.Item1?.DocumentFile?.FilePath" target="_blank" class="btn">Скачать заявление</a>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("Items/Bid/Details/Files")
            </div>
        </div>
        @await Html.PartialAsync("Items/Bid/Details/Chat")
    </div>
</section>