@model PasswordResetModel

<div class="container container--vh">
    <section class="section section--center">
        <form id="resetPasswordForm" role="form" class="form">
            <h1 class="form__title">Восстановление пароля</h1>
            @if (TempData["Status"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Status"]
                </div>
            }
            @Html.AntiForgeryToken()
            <input type="hidden" name="@nameof(Model.Token)" value="@Model.Token">
            <div class="form-group" name = "container-@nameof(Model.Email)">                         
                <input type="email" placeholder="Эл. почта" class="form-group__input" id="email" name="@nameof(Model.Email)" value="@Model.Email" required>
            </div>
            <div class="form-group" name="container-@nameof(Model.Password)">
                <input type="password" placeholder="Пароль" class="form-group__input" id="password" name="@nameof(Model.Password)" required>
            </div>
            <div class="form-group" name="container-@nameof(Model.ConfirmPassword)">
                <input type="password" placeholder="Повтор пароля" class="form-group__input" id="password_confirm" name="@nameof(Model.ConfirmPassword)" required>
            </div>                                            
            <div class="form-group">
                <button type="submit" class="btn">Отправить</button>
            </div>
        </form>
        <br>
        <p>Личный кабинет клиента ООО «РЭНК» предназначен для управления услугами и получения необходимой информации. Для доступа в Личный кабинет необходимо пройти процедуру регистрации на сайте и активации полученной учетной записи путем получения идентификатора и пароля.</p>
    </section>
</div>

<script>
    $(document).ready(function() {
        $('#resetPasswordForm').on('submit', function(event) {
            event.preventDefault();

            var formData = $(this).serialize();

            $.ajaxSetup({
                beforeSend: function(xhr) {
                    var token = $('input[name="__RequestVerificationToken"]').val();
                    xhr.setRequestHeader("RequestVerificationToken", token);
                }
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ResetPassword", "Account")',
                data: formData,
                success: function(response) {
                    $('.form').append('<div class="alert alert-success alert-profile"><i class="fas fa-exclamation-circle"></i> Пароль изменен успешно</div>');
                    setTimeout(() => {
                        $('.alert').slideUp('400', function(){
                            $(this).remove();
                        });
                        window.location = '/';
                    }, 5000);
                },
                error: function(err) {
                    console.log(err);
                    if (err.responseJSON.errors) {
                        $.each(err.responseJSON.errors, function(fieldName, messages) {
                            $.each(messages, function(index, message) {
                                if(fieldName === "mainError"){
                                    $('.form').append('<div class="alert alert-dunger alert-profile"><i class="fas fa-exclamation-circle"></i> ' + message + '</div>');
                                    setTimeout(() => {
                                        $('.alert').slideUp('500', function(){
                                            $(this).remove();
                                        });
                                    }, 5000);
                                }
                                $(`[name='container-${fieldName}']`).each(function() {
                                    $(this).find('.form-group__error').remove();
                                    $(this).find('.form-group__error form-group__error_home').remove();

                                    $(this).append(`<div class="form-group__error">${message}</div>`);

                                    $(this).removeClass('error').addClass('error');
                                    if ($(this).find('.form-group__input').length>0) $(this).find('.form-group__input').removeClass('is-active').addClass('is-active')
                                    else $(this).find(".select-block__title").removeClass('is-active').addClass('is-active')
                                });
                            });
                        });
                    }
                }
            });
        });
    });
</script>