@model BidModel[]

<section class="section">
        <h1 class="section__title">Личный кабинет</h1>
        <div class="sort-block sort-block--big sm_hidden">
        <form class="form-filter" style="width: 100%; display: flex;">
        @Html.AntiForgeryToken()
            <div class="sort-block__item sort-block__item--col-3">
                <div class="form-group">
                    <div class="select-block select-block-service">
                        <div class="select-block__title"><span>Услуга</span></div>
                        <ul class="select-block__list select-block__list--floating scrollbar">
                            <li class="filter-check"><a href="#">Все</a></li>
                            @foreach (var item in Model.Select(bid => bid.Service).Distinct())
                            {
                                <li class="filter-check"><a href="#">@item</a></li>
                            }
                        </ul>
                        <input type="hidden" class="input-service" name="service" value="">
                    </div>
                </div>
            </div>
            <div class="sort-block__item sort-block__item--col-3">
                <div class="form-group">
                    <input name="date" type="tel" placeholder="01.01.2020" data-position="bottom right" class="form-group__input datepicker-here filter-check-date" autocomplete="off" value="">
                    <i class="form-group__icon fas fa-calendar-alt" aria-hidden="true"></i>
                </div>
            </div>
        </form> 
        </div>
        <div class="section__row">
            <div class="sidebar">
                <div class="sidebar__box">
                    <div class="sidebar__list">
                        @await Html.PartialAsync("Sidebar/SidebarMenu")
                    </div>
                </div>
            </div>
            <div class="content">
        @if (TempData["Status"] != null)
        {
            <div class="alert alert-success">
                @TempData["Status"]
            </div>
        }
        <h2 class="content__title">Мои заявки</h2>
                <div class="content__top sm_visible_flex">
                    <div class="sort-block sort-block--big">
                        <div class="sort-block__text">Сортировать по:</div>
                        <div class="sort-block__item">
                            <div class="select-block">
                                <div class="select-block__title"><span>Дате регистрации</span></div>
                                <ul class="select-block__list select-block__list--floating scrollbar">
                                    <li><a href="#">Дате регистрации</a></li>
                                    <li><a href="#">Статусу заявителя</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-block__item">
                            <div class="form-group">
                                <div class="select-block">
                                    <div class="select-block__title"><span>Услуга</span></div>
                                    <ul class="select-block__list select-block__list--floating scrollbar">
                                        <li><a href="#">Подключение энергопринимающих приборов до 150 кВт</a></li>
                                        <li><a href="#">Подключение энергопринимающих приборов после 150 кВт</a></li>
                                    </ul>
                                    <input type="hidden" value="Выбирите тип пользователя">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="request_block">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <a href="@Url.Action("GetById", new { id = item.Id })"
                        class="request @(item.TicketStatus == 3 ? "request--success" : "") @(item.TicketStatus == 4 ? "request--agreed" : "") @(new[] { 2, 5 }.Contains(item.TicketStatus.Value) ? "request--close" : "")">
                        <div class="request__left">
                            <div class="request__title">
                                <span>№ @item.Id</span> @item.Name
                            </div>
                            <div class="request__list">
                                <div class="request__info">
                                    <span class="request__name">Организация:</span>
                                    <span class="request__text">@item.Department</span>
                                </div>
                                <div class="request__info">
                                    <span class="request__name">Услуга:</span>
                                    <span class="request__text">@item.Service</span>
                                </div>
                            </div>
                        </div>
                        <div class="request__right">
                            <div class="request__status">
                                @switch (item.TicketStatus)
                                {
                                    case 0:
                                        <i class="far fa-envelope"></i>
                                        <span>В ожидании</span>
                                        break;
                                    case 1:
                                        <i class="far fa-envelope-open"></i>
                                        <span>На согласовании</span>
                                        break;
                                    case 2:
                                        <i class="far fa-window-close"></i>
                                        <span>Закрыто</span>
                                        break;
                                    case 3:
                                        <i class="fas fa-briefcase"></i>
                                            <span>В работе</span>
                                        break;
                                    case 4:
                                        <i class="fas fa-check-circle"></i>
                                            <span>Фактическое подключение</span>
                                        break;
                                    case 5:
                                        <i class="far fa-window-close"></i>
                                            <span>Аннулирована</span>
                                        break;
                                    case 6:
                                        <i class="fas fa-exclamation-circle"></i>
                                            <span>Замечания</span>
                                        break;
                                    case 7:
                                        <i class="fas fa-money-bill"></i>
                                        <span>Счет на оплате</span>
                                        break;
                                    case 8:
                                        <i class="fas fa-plug"></i>
                                        <span>Выполнение ТУ заявителем</span>
                                        break;
                                    case 9:
                                        <i class="fas fa-plug"></i>
                                        <span>Выполнение ТУ сетевой организацией</span>
                                        break;
                                }
                            </div>
                                <div class="request__data">от <span>@item.CreatedAt?.ToString("dd.MM.yyyy")</span></div>
                        </div>
                    </a>
                }
            }
                </div>
            </div>
    </div>
</section>

<script>
    $('.form-filter').on('submit',function(event){
        event.preventDefault();
        var th = $(this);
        var params = $(this).attr("href");

        $.ajaxSetup({
            beforeSend: function(xhr) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                xhr.setRequestHeader("RequestVerificationToken", token);
            }
        });
        $.ajax({
            url: "/Bid",
            type:"GET",
            data: th.serialize(),
            success:function(data){
                console.log('Успешно')
        $(".request_block").html($(data).find('.request_block'));

            },
            error: function (err) {
                if (err.status == 422) {
                    console.log(err.responseJSON);                      
                }
            }
        });
    });

    $(document).on('click', '.filter-check', function(){
        $('.form-filter').submit(); 
    });

    $(document).on('change', '.filter-check-date', function(){
        $('.form-filter').submit(); 
    });

</script>