@model CreateBidViewModel

<div class="lk-block-info lk-block-info--mod">
    <div class="lk-block-info__header">Информация об энергопринимающих устройствах</div>
    <div class="lk-block-info__container">
        <div class="form-group">
            <div class="select-block" name="container-@nameof(Model.Bid.Step3.VoltageClass)">
                <div class="select-block__title">
                    @if (String.IsNullOrEmpty(Model.Bid.Step3.VoltageClass))
                    {
                        <span>Укажите класс напряжения</span>
                    }
                    else
                    {
                        <span>@Model.Bid.Step3.VoltageClass</span>
                    }
                </div>
                <ul class="select-block__list scrollbar">
                    @foreach (VoltageClass voltage in Enum.GetValues(typeof(VoltageClass)))
                    {
                        <li><a href="#">@voltage.GetDescription()</a></li>
                    }
                </ul>
                <input type="hidden" id="voltage_class" name="@nameof(Model.Bid.Step3.VoltageClass)" value="@Model.Bid.Step3.VoltageClass">
            </div>
        </div>
        <div class="form-group">
            <div class="select-block" name="container-@nameof(Model.Bid.Step3.ConnectionType)">
                <div class="select-block__title">
                    @if (String.IsNullOrEmpty(Model.Bid.Step3.ConnectionType))
                    {
                        <span>Характер присоединения</span>
                    }
                    else
                    {
                        <span>@Model.Bid.Step3.ConnectionType</span>
                    }
                </div>
                <ul class="select-block__list scrollbar">
                    @foreach (ConnectionType type in Enum.GetValues(typeof(ConnectionType)))
                    {
                        <li><a href="#">@type.GetDescription()</a></li>
                    }
                </ul>

                <input type="hidden" id="connection_type" name="@nameof(Model.Bid.Step3.ConnectionType)"
                       value="@Model.Bid.Step3.ConnectionType">
            </div>
        </div>
        @if (User.HasClaim(UserType.UserType.GetDescription(), UserType.NaturalPerson.GetDescription()) || User.HasClaim(UserType.UserType.GetDescription(), UserType.IndividualEntrepreneur.GetDescription()))
        {
            <div class="form-group form-bid">
                <div class="select-block" name="container-@nameof(Model.Bid.Step3.PowerDevice)">
                    <div class="select-block__title">
                        @if (String.IsNullOrEmpty(Model.Bid.Step3.PowerDevice))
                        {
                            <span>Информация об энергопринимающих устройствах</span>
                        }
                        else
                        {
                            <span>@Model?.Bid.Step3?.PowerDevice</span>
                        }
                    </div>
                    <ul class="select-block__list scrollbar">
                        @foreach (PowerDevice device in Enum.GetValues(typeof(PowerDevice)))
                        {
                            <li><a href="#">@device.GetDescription()</a></li>
                        }
                    </ul>
                    <input type="hidden" id="power_device" name="@nameof(Model.Bid.Step3.PowerDevice)"
                           value="@Model?.Bid.Step3?.PowerDevice">
                </div>
            </div>
        }
        else if (User.HasClaim(UserType.UserType.GetDescription(), UserType.LegalPerson.GetDescription()) && Model.bidServiceByInt != 999)
        {
            <div class="form-group" name="container-@nameof(Model.Bid.Step3.PowerDevice)">
                <input type="text" placeholder="Информация об энергопринимающих устройствах"
                       class="form-group__input" id="power_device"
                       name="@nameof(Model.Bid.Step3.PowerDevice)"
                       value="@(Model.bidServiceByInt == 999 ? "" : Model.Bid.Step3.PowerDevice)"
                       style="@(Model.bidServiceByInt == 999 ? "display: none" : "")" />
            </div>
        }
        <div class="form-group">
            <div class="select-block" name="container-@nameof(Model.Bid.Step3.ObjectName)">
                @if (Model?.bidServiceByInt != 999)
                {
                    <div class="select-block__title">
                        @if (String.IsNullOrEmpty(Model.Bid.Step3.ObjectName))
                        {
                            <span>Наименование объекта</span>
                        }
                        else
                        {
                            <span>@Model.Bid.Step3.ObjectName</span>
                        }
                    </div>
                    <ul class="select-block__list scrollbar">
                        @foreach (ObjectName name in Enum.GetValues(typeof(ObjectName)))
                        {
                            <li><a href="#">@name.GetDescription()</a></li>
                        }
                    </ul>

                    <input type="hidden" id="object_name" name="@nameof(Model.Bid.Step3.ObjectName)"
                           value="@Model.Bid.Step3.ObjectName">
                }
                else
                {
                    <input type="text" readonly placeholder="Тип объекта" class="form-group__input" id="object_name" name="@nameof(Model.Bid.Step3.ObjectName)" value="@Model.Bid.Step3.ObjectName">
                }
            </div>
        </div>
    </div>
</div>