@model CreateBidViewModel

<div class="lk-block-info lk-block-info--mod">
    <div class="lk-block-info__container">
        <div class="form-group">
            Документ, оформленный органом исполнительной власти (органом исполнительной власти субъекта РФ), <a onclick="$('#info_benefits').toggle()">подтверждающий право на льготу</a> (Размер файла не более 10 Мб)
        </div>
        <div id="info_benefits" style="display: none">
            <span>
                &laquo;Правом на льготу обладают&nbsp;следующие категории заявителей, владеющих объектами, отнесенными к третьей категории надежности (по одному источнику электроснабжения), при условии, что расстояние от границ участка заявителя до объектов электросетевого хозяйства на уровне напряжения 0,4 кВ и ниже необходимого заявителю класса напряжения сетевой организации, в которую подана заявка, составляет не более 300 метров в городах и поселках городского типа и не более 500 метров в сельской местности, в том числе за одновременное технологическое присоединение энергопринимающих устройств и объектов микрогенерации, и энергопринимающих устройств заявителей &ndash; физических лиц, максимальная мощность которых не превышает 15 кВт включительно (с учетом ранее присоединенных в данной точке присоединения энергопринимающих устройств),&nbsp;указанные:<br>

                <ul>
                    <li>в статьях 14-16, 18и21 Федерального закона &quot;О ветеранах&quot;;</li>
                    <li>в статье 17 Федерального закона &quot;О социальной защите инвалидов в Российской Федерации&quot;;</li>
                    <li>в статье 14 Закона Российской Федерации &quot;О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС&quot;;</li>
                    <li>в статье 2 Федерального закона &quot;О социальных гарантиях гражданам, подвергшимся радиационному воздействию вследствие ядерных испытаний на Семипалатинском полигоне&quot;;</li>
                    <li>в части 8 статьи 154 Федерального закона &quot;О внесении изменений в законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием федеральных законов &quot;О внесении изменений и дополнений в Федеральный закон &quot;Об общих принципах организации законодательных (представительных) и исполнительных органов государственной власти субъектов Российской Федерации&quot; и &quot;Об общих принципах организации местного самоуправления в Российской Федерации&quot;;</li>
                    <li>в статье 1 Федерального закона &quot;О социальной защите граждан Российской Федерации, подвергшихся воздействию радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча&quot;;</li>
                    <li>в пункте 1 и абзаце четвертом пункта 2 постановления Верховного Совета Российской Федерации от 27 декабря 1991 г. №2123-1 &quot;О распространении действия Закона РСФСР &quot;О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС&quot; на граждан из подразделений особого риска&quot;;</li>
                    <li>в Указе Президента Российской Федерации от 5 мая 1992 г. №431 &quot;О мерах по социальной поддержке многодетных семей&quot;,</li>
                    <li>а также в случае заключения договора членом малоимущей семьи (одиноко проживающим гражданином), среднедушевой доход которого ниже величины прожиточного минимума, установленного в соответствующем субъекте Российской Федерации, определенным в соответствии с Федеральным законом &quot;О прожиточном минимуме в Российской Федерации&quot;&raquo;.</li>
                </ul>
            </span><br>
        </div>
        <div class="form-group" name="container-@nameof(Model.Bid.Step5.BenefitFiles)">
            <input type="file" class="foчёrm-group__file" id="filename_7" disabled='true'
                   name="@nameof(Model.Bid.Step5.BenefitFiles)" multiple accept=".jpg, .jpeg, .png, .pdf"
                   asp-for="@Model.Bid.Step5.BenefitFiles">
            <br><br>
            <input type="checkbox" @(Model.Bid.Step5.BenefitFileId!=null?"": "checked") onclick="ToggleCheck('filename_7')" id="or_filename_7" accept=".jpg, .jpeg, .png, .pdf" name="or_filename_7" class="checkbox__input">
            <label for="or_filename_7" class="checkbox__label">
                <span class="checkbox__icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>Я не отношусь к льготной категории граждан</a></span>
            </label>

            @if (Model.Bid.Step5.BenefitFile?.FilePath != null)
            {
                <div class="uploaded-file-info" style="margin-top: 15px ;background: #f5f5f5; border-radius: 4px;">
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <span style="color: green;">✔ Документ загружен:</span>
                        <a href="@Model.Bid.Step5.BenefitFile.FilePath" target="_blank" style="color: #0066cc; text-decoration: underline;">
                            @Model.Bid.Step5.BenefitFile.FileName
                        </a>
                        <button type="button" onclick="removeUploadedFile('benefitFile')" style="margin-left: auto; color: #ff0000; background: none; border: none; cursor: pointer;">
                            Удалить
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
        function ToggleCheck(id) {
        var elem = document.getElementById(id);

        if (elem.getAttribute('disabled')) {
           elem.removeAttribute("disabled");
        } else {
            elem.setAttribute("disabled",'true');
        }
    }

</script>